<mat-list class="film-card-content">
  <app-film-basic-info class="film-basic-info" [filmInfo]="filmInfo" />
  <app-film-characters class="film-characters" [filmInfo]="filmInfo" />
  <app-film-planets class="film-planets" [filmInfo]="filmInfo" />
  <app-film-species class="film-species" [filmInfo]="filmInfo" />
  <app-film-starships class="film-starships" [filmInfo]="filmInfo" />
  <app-film-vehicles class="film-vehicles" [filmInfo]="filmInfo" />
  <app-film-dates class="film-dates" [filmInfo]="filmInfo" />
</mat-list>
