.film-card-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
    "basic-info characters species"
    "planets characters species"
    "vehicles characters starships"
    "vehicles characters starships"
    "dates dates dates";
}

.film-basic-info {
  grid-area: basic-info;
}

.film-characters {
  grid-area: characters;
}

.film-planets {
  grid-area: planets;
}

.film-species {
  grid-area: species;
}

.film-starships {
  grid-area: starships;
}

.film-vehicles {
  grid-area: vehicles;
}

.film-dates {
  grid-area: dates;
}

@media (max-width: 900px) {
  .film-card-content {
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "basic-info characters"
      "planets characters"
      "species characters"
      "vehicles starships"
      "dates dates";
  }
}

@media (max-width: 700px) {
  .film-card-content {
    grid-template-columns: repeat(1, auto);
    grid-template-areas:
      "basic-info"
      "planets"
      "species"
      "characters"
      "vehicles"
      "starships"
      "dates";
  }
}
