button {
  color: #fff !important;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(to right, #0000b7, #5e00b7 60%);
  /* background: #ffffff55; */
}

button:disabled {
  opacity: 0.6;
}

.active {
  background: #00000055;
}
