button {
  color: #fff !important;
  transition: 0.3s;
}

button:disabled {
  opacity: 0.6;
}

button:hover {
  background: #00000090;
}

.active {
  background: #00000090;
}

.link-item {
  position: relative;
  width: max-content;
  cursor: pointer;
}
