<mat-card appearance="outlined" class="card-content">
  <app-section-header [icon]="'info'" [title]="'BASIC INFO'" />
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <strong>Modelo</strong> {{ starshipInfo.model }}
      </mat-list-item>
      <mat-list-item class="large">
        <p><strong>Fabricante</strong> {{ starshipInfo.manufacturer }}</p>
      </mat-list-item>
      <mat-list-item>
        <strong>Costo en créditos</strong> {{ starshipInfo.cost_in_credits }}
      </mat-list-item>
      <mat-list-item>
        <strong>Longitud</strong> {{ starshipInfo.length }}
      </mat-list-item>
      <mat-list-item>
        <strong>Velocidad atmosférica máxima</strong>
        {{ starshipInfo.max_atmosphering_speed }}
      </mat-list-item>
      <mat-list-item>
        <strong>Tripulación</strong> {{ starshipInfo.crew }}
      </mat-list-item>
      <mat-list-item>
        <strong>Pasajeros</strong> {{ starshipInfo.passengers }}
      </mat-list-item>
      <mat-list-item>
        <strong>Capacidad de carga</strong> {{ starshipInfo.cargo_capacity }}
      </mat-list-item>
      <mat-list-item>
        <strong>Consumibles</strong> {{ starshipInfo.consumables }}
      </mat-list-item>
      <mat-list-item class="large">
        <strong>Clasificación de hipermotor</strong>
        {{ starshipInfo.hyperdrive_rating }}
      </mat-list-item>
      <mat-list-item>
        <strong>MGLT</strong> {{ starshipInfo.MGLT }}
      </mat-list-item>
      <mat-list-item>
        <p>
          <strong>Clase de nave espacial</strong>
          {{ starshipInfo.starship_class }}
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
