.icon-element {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.navigateButtons {
  display: flex;
  justify-content: right;
  margin-right: 3rem;
  gap: 1rem;
}
