.section-header {
  align-items: center;
  margin-bottom: 16px;
  color: #fff;
  position: relative;
}

.cont-header-icon {
  display: grid;
  place-items: center;
  margin: 0;
  background: #0000b7;
  border-radius: 10px;
}
.header-icon {
  width: max-content;
  height: 26.35px;
  font-size: 26.32px;
}

.s-h-subtitle {
  color: #0000b7;
  font-weight: bold;
}

.s-h-subtitle::after {
  content: "";
  width: calc(100% - 81px);
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 65px;
  background: #0000b7;
  border-radius: 10px;
}
