<div class="landing-page">
  <mat-list class="items-counts">
    <mat-list-item (click)="seePeoples()" class="item people-count">
      <p>People</p>
      <div>{{ peoplesCount }}</div>
    </mat-list-item>
    <mat-list-item (click)="seePlanets()" class="item planets-count">
      <p>Planets</p>
      <div>{{ planetsCount }}</div>
    </mat-list-item>
    <mat-list-item (click)="seeFilms()" class="item films-count">
      <p>Films</p>
      <div>{{ filmsCount }}</div>
    </mat-list-item>
    <mat-list-item (click)="seeSpecies()" class="item species-count">
      <p>Species</p>
      <div>{{ speciesCount }}</div>
    </mat-list-item>
    <mat-list-item (click)="seeVehicles()" class="item vehicles-count">
      <p>Vehicles</p>
      <div>{{ vehiclesCount }}</div>
    </mat-list-item>
    <mat-list-item (click)="seeStarShips()" class="item starships-count">
      <p>Starships</p>
      <div>{{ starshipsCount }}</div>
    </mat-list-item>
  </mat-list>
</div>
