<!-- <div class="landing-page">
  <mat-list class="items-counts">
    <mat-list-item class="item people-count">
      <p>People</p>
      <div>{{ "82" }}</div>
    </mat-list-item>
    <mat-list-item class="item planets-count">
      <p>Planets</p>
      <div>{{ "60" }}</div>
    </mat-list-item>
    <mat-list-item class="item films-count">
      <p>Films</p>
      <div>{{ "6" }}</div>
    </mat-list-item>
    <mat-list-item class="item species-count">
      <p>Species</p>
      <div>{{ "37" }}</div>
    </mat-list-item>
    <mat-list-item class="item vehicles-count">
      <p>Vehicles</p>
      <div>{{ "39" }}</div>
    </mat-list-item>
    <mat-list-item class="item starships-count">
      <p>Starships</p>
      <div>{{ "36" }}</div>
    </mat-list-item>
  </mat-list>
</div> -->
