<mat-card appearance="outlined" class="card-content"  >
  <app-section-header [icon]="'person'" [title]="'RESIDENTS'" />
  <mat-card-content>
    <mat-list>
      @if (characterData.length > 0) {
      <!--  -->
      @for (character of characterData; track character) {
      <mat-list-item class="link-item">
        <span (click)="seeCharacter(character.url)">{{ character.name }}</span>
      </mat-list-item>
      } } @else {
      <mat-list-item>unknown</mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
