<mat-card appearance="outlined" class="card-content">
  <app-section-header [icon]="'info'" [title]="'BASIC INFO'" />
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <strong>Periodo de rotación</strong> {{ planetInfo.rotation_period }}
      </mat-list-item>
      <mat-list-item>
        <strong>Periodo orbital</strong> {{ planetInfo.orbital_period }}
      </mat-list-item>
      <mat-list-item>
        <strong>Diámetro</strong> {{ planetInfo.diameter }}
      </mat-list-item>
      <mat-list-item>
        <strong>Clima</strong> {{ planetInfo.climate }}
      </mat-list-item>
      <mat-list-item>
        <strong>Graveda</strong> {{ planetInfo.gravity }}
      </mat-list-item>
      <mat-list-item>
        <strong>Terreno</strong> {{ planetInfo.terrain }}
      </mat-list-item>
      <mat-list-item>
        <strong>Agua superficial</strong> {{ planetInfo.surface_water }}
      </mat-list-item>
      <mat-list-item>
        <strong>Población</strong> {{ planetInfo.population }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
