<mat-card appearance="outlined" class="card-content">
  <app-section-header [icon]="'info'" [title]="'BASIC INFO'" />
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <strong>Nombre</strong> {{ vehicleInfo.name }}
      </mat-list-item>
      <mat-list-item>
        <strong>Modelo</strong> {{ vehicleInfo.model }}
      </mat-list-item>
      <mat-list-item>
        <p><strong>Fabricante</strong> {{ vehicleInfo.manufacturer }}</p>
      </mat-list-item>
      <mat-list-item>
        <strong>Costo en créditos</strong> {{ vehicleInfo.cost_in_credits }}
      </mat-list-item>
      <mat-list-item>
        <strong>Longitud</strong> {{ vehicleInfo.length }}
      </mat-list-item>
      <mat-list-item>
        <strong>Velocidad atmosférica máxima</strong>
        {{ vehicleInfo.max_atmosphering_speed }}
      </mat-list-item>
      <mat-list-item>
        <strong>Tripulación</strong> {{ vehicleInfo.crew }}
      </mat-list-item>
      <mat-list-item>
        <strong>Pasajeros</strong> {{ vehicleInfo.passengers }}
      </mat-list-item>
      <mat-list-item>
        <strong>Capacidad de carga</strong> {{ vehicleInfo.cargo_capacity }}
      </mat-list-item>
      <mat-list-item>
        <strong>Consumibles</strong> {{ vehicleInfo.consumables }}
      </mat-list-item>
      <mat-list-item>
        <strong>Clase de vehículo</strong> {{ vehicleInfo.vehicle_class }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
