/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-sub-padre {
  position: relative;
}

.subtitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 32px);
  height: 3px;
  background: linear-gradient(to left, #0000b7, #5e00b7);
  border-radius: 10px;
}

.card-content {
  width: 100%;
  border: none !important;
  background: none !important;
}
