/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-content {
  border: none !important;
  background: none !important;
}

.link-item::after {
  content: "";
  width: 0px;
  height: 1.5px;
  background: #0000b7;
  position: absolute;
  bottom: 12px;
  transition: 0.3s;
}

.link-item:hover::after {
  width: 100%;
}
