<mat-card class="card-content" appearance="outlined">
  <app-section-header [icon]="'directions_car'" [title]="'VEHICLES'" />
  <mat-card-content class="vehicles-content">
    @if (characterInfo.vehicles.length > 0) {
    <!--  -->
    @for (vehicle of vehiclesData; track vehicle.name) {
    <mat-list-item class="link-item">
      <span (click)="seeVehicle(vehicle.url)">{{ vehicle.name }} </span>
    </mat-list-item>
    } } @else {
    <mat-list-item> unknown </mat-list-item>
    }
  </mat-card-content>
</mat-card>
