<div class="container">
  <div class="profile">
    <img class="profile-img" src="" alt="" />
    <div class="profile-content">
      <h1 class="name">Daniel Galvis</h1>
      <h2 class="desc">Web Apps Developer</h2>
      <app-social-link-button class="social-list" />
    </div>
  </div>
  <div class="contact-me">
    <!-- From Uiverse.io by cuzpq -->
    <mat-slide-toggle [checked]="checked" class="dark-mode-button">
      Dark Mode
    </mat-slide-toggle>
    <a href="mailto:djgz2004@gmail.com" class="contact-button" mat-button>
      <i class="fa fa-paper-plane"></i>
      Contactame!
    </a>
  </div>
</div>
