.specie-card-content {
  display: grid;
  grid-template-areas:
    "basic-info characters"
    "basic-info films"
    "dates dates";
}

.specie-basic-info {
  grid-area: basic-info;
}

.specie-characters {
  grid-area: characters;
}

.specie-films {
  grid-area: films;
}

.specie-dates {
  grid-area: dates;
}

@media (max-width: 790px) {
  .specie-card-content {
    grid-template-areas:
      "basic-info"
      "characters"
      "films"
      "dates";
  }
}
