.starship-card-content {
  display: grid;
  grid-template-areas:
    "basic-info pilots"
    "basic-info films"
    "dates dates";
}

.starship-basic-info {
  grid-area: basic-info;
}

.starship-pilots {
  grid-area: pilots;
}

.starship-films {
  grid-area: films;
}

.starship-dates {
  grid-area: dates;
}

@media (max-width: 725px) {
  .starship-card-content {
    grid-template-areas:
      "basic-info"
      "pilots"
      "films"
      "dates";
  }
}
