<mat-card appearance="outlined" class="card-content">
  <app-section-header [icon]="'info'" [title]="'BASIC INFO'" />
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <strong>Clasificación</strong> {{ specieInfo.classification }}
      </mat-list-item>
      <mat-list-item>
        <strong>Designación</strong> {{ specieInfo.designation }}
      </mat-list-item>
      <mat-list-item>
        <strong>Altura promedio</strong> {{ specieInfo.average_height }}
      </mat-list-item>
      <mat-list-item>
        <p><strong>Colores de piel</strong> {{ specieInfo.skin_colors }}</p>
      </mat-list-item>
      <mat-list-item>
        <p><strong>Colores de cabello</strong> {{ specieInfo.hair_colors }}</p>
      </mat-list-item>
      <mat-list-item>
        <p><strong>Color de ojos</strong> {{ specieInfo.eye_colors }}</p>
      </mat-list-item>
      <mat-list-item>
        <strong>Esperanza de vida media</strong>
        {{ specieInfo.average_lifespan }}
      </mat-list-item>
      <mat-list-item class="link-item">
        <strong>planeta natal</strong>
        <span (click)="seePlanet(specieInfo.homeworld)">
          {{ homeworld }}
        </span>
      </mat-list-item>
      <mat-list-item>
        <strong>lenguaje</strong> {{ specieInfo.language }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
