.Card-info-header {
  background: linear-gradient(to bottom right, #0000b7, #5e00b7);
  border-radius: 10px 10px 0 0;
  align-items: center;
  color: white;
  height: 136px;
}

.card-info-actions {
  justify-content: center;
}

.prev-button,
.next-button,
.back-button,
.home-button {
  position: absolute;
  top: 10px;
  color: #fff;
  right: 10px;
  transition: 0.25s;
}

.prev-button {
  right: 4rem;
}

.back-button {
  /* right: 8rem; */
  left: 10px;
}

.home-button {
  left: 3rem;
}
