<mat-card class="card-content" appearance="outlined">
  <app-section-header [icon]="'public'" [title]="'PLANET'" />
  <mat-card-content>
    <mat-list-item>
      {{ characterInfo.homeworld.length > 0 ? planetsData.name : "unknown" }}
    </mat-list-item>
  </mat-card-content>
</mat-card>

<!--  -->
<mat-card class="card-content" appearance="outlined">
  <app-section-header [icon]="'person'" [title]="'SPECIE'" />
  <mat-card-content>
    <mat-list-item>
      {{ characterInfo.species.length > 0 ? speciesData.name : "unknown" }}
    </mat-list-item>
  </mat-card-content>
</mat-card>
