<mat-card class="card-content" appearance="outlined">
  <app-section-header [icon]="'public'" [title]="'PLANET'" />
  <mat-card-content>
    @if (characterInfo.homeworld.length > 0) {
    <mat-list-item class="link-item">
      <span (click)="seePlanet(planetsData.url)">{{ planetsData.name }}</span>
    </mat-list-item>
    } @else {
    <mat-list-item> unknown </mat-list-item>
    }
  </mat-card-content>
</mat-card>

<!--  -->
<mat-card class="card-content" appearance="outlined">
  <app-section-header [icon]="'person'" [title]="'SPECIE'" />
  <mat-card-content>
    @if (characterInfo.species.length > 0) {
    <mat-list-item class="link-item">
      <span (click)="seeSpecie(speciesData.url)">{{ speciesData.name }}</span>
    </mat-list-item>
    } @else {
    <mat-list-item> unknown </mat-list-item>
    }
  </mat-card-content>
</mat-card>
