<mat-card class="card-content" appearance="outlined">
  <mat-card-header class="header-sub-padre">
    <mat-card-subtitle class="subtitle"> MUNDO NATAL </mat-card-subtitle>
  </mat-card-header>
  <mat-list-item>
    {{ characterInfo.homeworld.length > 0 ? planetsData.name : "unknown" }}
  </mat-list-item>

  <!--  -->
  <mat-card-header class="header-sub-padre">
    <mat-card-subtitle class="subtitle"> ESPECIE </mat-card-subtitle>
  </mat-card-header>
  <mat-list-item>
    {{ characterInfo.species.length > 0 ? speciesData.name : "unknown" }}
  </mat-list-item>
</mat-card>
