.fila {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 10px;
}

.asiento {
  position: relative;

  .chair {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    cursor: pointer;
    background: linear-gradient(90deg,  #333333, #0f9b0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .ocupado {
    background: linear-gradient(90deg, #333333, #f00000);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
  }
}
