.fila {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 15px;
}

.asiento {
  position: relative;

  p {
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;
    padding: 5px 5px;
    background: linear-gradient(to bottom right, #0000b7, #5e00b7);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .ocupado {
    background: linear-gradient(to top left, #ff0000, #6d0000);
  }
}
