<table mat-table [dataSource]="results">
    <!-- Position Column -->
    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <mat-card-header style="padding: 10px 16px">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{ element.title }}</mat-card-title>
          <mat-card-subtitle>{{ element.release_date }}</mat-card-subtitle>
        </mat-card-header>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          (click)="viewInfo(element)"
          matTooltip="Ver mas información acerca de este personaje"
          matTooltipPosition="right"
        >
          Ver mas...
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  