.spacer {
  flex: 1 1 auto;
}

.header {
  padding: 0 80px;
  color: #fff;
  background: linear-gradient(to right, #0000b7, #5e00b7 60%);
  position: relative;
  z-index: 1;
  height: 80px;
}

.header-mobile {
  display: none;
}

@media (max-width: 770px) {
  .header {
    padding: 0 40px;
  }
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
