.planet-card-content {
  display: grid;
  grid-template-areas:
    "basic-info residents films"
    "dates dates dates";
}

.planet-basic-info {
  grid-area: basic-info;
}

.planet-residents {
  grid-area: residents;
}

.planet-films {
  grid-area: films;
}

.planet-dates {
  grid-area: dates;
}

@media (max-width: 900px) {
  .planet-card-content {
    grid-template-areas:
      "basic-info residents"
      "films residents"
      "dates dates";
  }
}

.isSmall {
  grid-template-areas:
    "basic-info residents"
    "basic-info films"
    "dates dates";
}

@media (max-width: 725px) {
  .planet-card-content {
    grid-template-areas:
      "basic-info"
      "residents"
      "films"
      "dates";
  }
}
