<mat-list class="cardList">
  <!-- Información básica del personaje -->
  <app-character-basic-info class="basicInfo" [characterInfo]="characterInfo" />

  <app-character-origin class="origen" [characterInfo]="characterInfo" />

  <!-- Películas en las que aparece el personaje -->
  <app-character-movies class="films" [characterInfo]="characterInfo" />

  <!-- Vehículos del personaje -->
  <app-character-vehicles class="vehicles" [characterInfo]="characterInfo" />

  <!-- Naves espaciales del personaje -->
  <app-character-starships class="starships" [characterInfo]="characterInfo" />

  <!-- Fechas de creación y edición del personaje -->
  <app-character-dates class="dates" [characterInfo]="characterInfo" />
</mat-list>
