.cardList {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  /* grid-template-rows: repeat(4, auto); */
  grid-template-areas:
    "basicInfo films"
    "origen origen"
    "vehicles starships"
    "dates dates";
}

.basicInfo {
  grid-area: basicInfo;
}
.vehicles {
  grid-area: vehicles;
}
.starships {
  grid-area: starships;
}
.dates {
  grid-area: dates;
}
.origen {
  grid-area: origen;
  display: flex;
}
.films {
  grid-area: films;
}

@media (max-width: 900px) {
  .cardList {
    grid-template-areas:
      "basicInfo origen"
      "basicInfo films"
      "vehicles starships"
      "dates dates";
  }

  .origen {
    display: block;
  }
}

@media (max-width: 680px) {
  .cardList {
    grid-template-columns: repeat(1, auto);
    grid-template-areas:
      "basicInfo"
      "origen"
      "films"
      "vehicles"
      "starships"
      "dates";
  }
}
