.cardList {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
    "basicInfo films vehicles"
    "basicInfo films origen"
    "basicInfo starships origen"
    "dates dates dates";
}

.basicInfo {
  grid-area: basicInfo;
}
.vehicles {
  grid-area: vehicles;
}
.starships {
  grid-area: starships;
}
.dates {
  grid-area: dates;
}
.origen {
  grid-area: origen;
}
.films {
  grid-area: films;
}

@media (max-width: 900px) {
  .cardList {
    grid-template-areas:
      "basicInfo origen"
      "basicInfo films"
      "vehicles starships"
      "dates dates";
  }
}

@media (max-width: 680px) {
  .cardList {
    grid-template-columns: repeat(1, auto);
    grid-template-areas:
      "basicInfo"
      "origen"
      "films"
      "vehicles"
      "starships"
      "dates";
  }
}
