<!-- Tarjeta de Angular Material que contiene información sobre los asientos -->
<mat-card appearance="outlined" style="margin: 10px; padding: 10px">
  <!-- Título de la tarjeta -->
  <mat-card-title>ASIENTOS</mat-card-title>

  <!-- Contenido de la tarjeta -->
  <mat-card-content class="card-content">
    <!-- Componente personalizado que gestiona y muestra los asientos -->
    <app-asientos />
    <div class="info-action">
      <div class="info">
        <div class="color-dis"></div>
        <p>Disponible</p>
      </div>
      <div class="info">
        <div class="color-ocu"></div>
        <p>Ocupado</p>
      </div>
      <div class="action">
        <button
          mat-raised-button
          matTooltip="Haga clic para eliminar todas las reservas"
          matTooltipPosition="right"
          (click)="removeReservations()"
        >
          Eliminar reservas
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
