<article class="project" [ngClass]="{ lastProject: isFirst }">
  <a
    class="project-img-link"
    [href]="link"
    target="_blank"
    rel="noopener noreferrer"
    title="Ir al sitio web"
  >
    <img
      class="project-img"
      src="https://images.pexels.com/photos/2014422/pexels-photo-2014422.jpeg"
      alt=""
    />
  </a>
  <div class="project-info">
    <a
      class="project-name"
      [href]="link"
      target="_blank"
      rel="noopener noreferrer"
      title="Ir al sitio web"
    >
      {{ name }}
    </a>
    <p class="project-description">
      {{ description }}
    </p>
    <mat-chip-set class="toolsUsed">
      @for (tool of tools; track $index) {
      <mat-chip class="tool"> {{ tool }} </mat-chip>
      }
    </mat-chip-set>
  </div>
</article>
